.modal {
	background-color: #3e3e46;
	color: #FFFFFF;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 20;
  top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  position: absolute;
  flex-direction: column;
}

.sidebarWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 52px;
	flex: 0 1 auto;
	background-color: #292931;
}

.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sectionWrapper,
.content {
	display: flex;
	justify-content: center;
	width: 100%;
	z-index: 22;
}

.content {
	padding: 50px 0 0 50px;
}

.contentWrapper {
	max-width: 100%;
	display: flex;
	justify-content: flex-start;
	flex: 1;
	background: rgb(62, 62, 70);
}

.sectionHeader {
	color: #FFF;
	font-size: .9rem;
	border-radius: 3px;
  text-transform: uppercase;
	padding: 5px 15px 5px 15px;
	margin: 0 7px 0 7px;
	transition: .2s ease-out;
}

.sectionHeader:hover {
	cursor: pointer;
	background-color: rgba(103, 102, 102, .25);
	transition: .2s ease-in;
}

.sectionHeader.selectedSectionHeader {
	background-color: #484eaf;
}

.exitModal {
	display: flex;
	height: 100%;
	align-items: flex-end;
	justify-content: center;
	margin-bottom: 45px;
}

.exitModalIcon {
	background-color: black;
}
