.sidebarWrapper {
	display: flex;
	height: 100vh;
	background-color: #1a252b;
	justify-content: center;
	align-items: center;
	-webkit-box-orient: vertical;
	width: 90px;
	flex-direction: column;
	flex-shrink: 0;
	z-index: 99999;
}

.sidebar {
	flex: 0 0 auto;
	display: flex;
  align-items: flex-end;
	position: relative;
	outline: none;
	height: 100%;
}

.sidebarButtons {
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sidebarButtons i:hover {
	transform: rotate(45deg);
	transition: transform 0.3s ease-in-out;
}
