.icon {
	height: 22px;
	width: 22px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: .85;
	transition: .3s ease-out;
	-webkit-app-region: no-drag;
}

.icon:hover {
	opacity: 1;
	cursor: pointer;
	transition: .3s ease-in;
}
