.treeWrapper {
  display: flex;
  order: 0;
  justify-content: flex-start;
  flex: 1;
  z-index: 1;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.treeWrapper:hover {
  left: 90px;
  transition: left 0.3s ease-in;
}

.treeWrapper:hover .tree-chevron-wrapper i {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in;
}

.fileTreeSidebar {
  z-index: 99;
  -webkit-app-region: no-drag;
  display: flex;
  order: 0;
  flex: 1;
  overflow: auto;
}

.treeActions {
  display: flex;
  flex: 1;
}

.fileTreeInfoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.fileTreeInfo {
  color: #ddddde;
  font-size: .85rem;
  text-transform: uppercase;
  text-align: center;
}

.noFolderOpenIcon {
  background-image: url('../../assets/box.svg');
  width: 136px;
  height: 136px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  opacity: .83;
}
