.topBarWrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 52px;
	-webkit-box-orient: horizontal;
	flex-shrink: 0;
	flex-direction: row;
	width: 100%;
}

.leftTopBar {
	padding: 0 25px;
	z-index: 5;
}

.menuButton {
	font-size: 22px;
	display: flex;
	align-items: center;
	padding: 12px;
	margin: 0 5px 0 0;
	cursor: pointer;
	-webkit-app-region: no-drag;
	z-index: 10;
}
