.app--command--box--wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 52px;
	-webkit-box-orient: horizontal;
	flex-shrink: 0;
	flex-direction: row;
	width: 100%;
}

.app--sidebar {
	height: 100%;
	width: 200px;
	background: blue;
}

.menuButton {
	font-size: 22px;
	display: flex;
	align-items: center;
	padding: 12px;
	margin: 0 5px 0 0;
	cursor: pointer;
	-webkit-app-region: no-drag;
	z-index: 10;
}
