.icon {
	height: 22px;
	width: 22px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: .3s ease-out;
	-webkit-app-region: no-drag;
  padding: 0 20px;
}

.icon:hover {
	cursor: pointer;
	transition: .3s ease-in;
}

.test {
	background-color: #fff;
	color: #222;
}
